%h2 Reports

%ul.reports
  %li= link_to 'Transaction Report', transaction_reports_path
  %li= link_to 'Checks Report', checks_reports_path
  %li= link_to 'Positive Pay Report', positive_pay_reports_path